<!DOCTYPE html>
<html>
<head>
    <title>Vault</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <h1>SECURE VAULT</h1>
    <div>
        {{ user }}
        {% if session.role == "admin" %}
            <span class="admin-badge">ADMIN</span>
        {% endif %}
    </div>
</header>

<div class="container">
    <ul>
        {% for f in files %}
        <li><a href="/download/{{ f }}">{{ f }}</a></li>
        {% endfor %}
    </ul>

    <form method="post" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file">
        <button>UPLOAD</button>
    </form>
</div>

<footer>© AJ · AES · MongoDB</footer>
</body>
</html>
