<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="auth-container">
    <h1>ASLAM JAVEED</h1>
    <form method="post">
        <input name="username" placeholder="Username" required>
        <input name="password" type="password" placeholder="Password" required>
        <button>AUTHENTICATE</button>
    </form>
    <a href="/register">Create Account</a>
</div>
<footer>© AJ · Cyber Security Project</footer>
</body>
</html>
